#!/bin/bash

# Customised template to test role variables:

source {{ comet_venv }}/bin/activate

WORKING_DIR=/home/{{ comet_serve_user }}/working_dir
IVORN=foo.bar.baz/comet-node-deploy-test
LOGFILE=$WORKING_DIR/log/$(date +%F-%H-%M).txt
EVENT_DB_DIR=$WORKING_DIR/db
REMOTE=voevent.4pisky.org:8099


# Add this as a remote if testing with Vagrant and you want to simulate
# a remote
VIRTUALBOX_HOST=$(netstat -rn | grep 'default' | awk '{print $2}')

mkdir -p $(dirname $LOGFILE)
mkdir -p $EVENT_DB_DIR
cd $WORKING_DIR

twistd -l $LOGFILE -n comet \
    --verbose \
    --eventdb=$EVENT_DB_DIR --local-ivo=ivo://$IVORN \
    --broadcast \
    --print-event \
    --remote=$VIRTUALBOX_HOST \
    --receive \








