# voevent broker - upstart conf file

description "Basic VOEvents broker"
author "Tim Staley <github.com/timstaley>"

start on runlevel [2345]
stop on runlevel [!2345]

# Automatically restart process if crashed
respawn

# Start the process
script
  exec su {{ comet_serve_user }} -c "/home/{{ comet_deploy_user }}/invoke-comet.sh >> /tmp/comet.log 2>&1"
end script
